@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

* {
    -fx-font-family: 'Open Sans', sans-serif;
}

.error {
    -fx-border-color: #b22222;
    -fx-border-width: 2px;
    -fx-border-radius: 0.5em;
}

.notification { -fx-background-color:  #A2DED0 }

.calendarHead {
    -fx-background-color: #e5e5e5;
    height: 25px;
}

.day { -fx-background-color: #f0f0f0; }
.empty { -fx-background-color: #e5e5e5; }
.appointment { -fx-background-color: #00cc66; }

.day,
.empty {
    -fx-border-color: #b8b8b8;
    border-collapse: collapse;
}